{{ define "main" }}
  <main id="main">
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    {{ if site.Params.search }}
    {{ end }}
    <h1>
    	Current posts
    </h1>
  <ul class="patterns-list" id="list">
    {{ range .Site.RegularPages.ByPublishDate.Reverse }}
    <li>
      <h2>
        <a href="{{ .RelPermalink }}">
          <svg
            class="bookmark"
            aria-hidden="true"
            viewBox="0 0 40 50"
            focusable="false"
          >
            <use xlink:href="#bookmark"></use>
          </svg>
          {{ .Title }}
        </a>
      </h2>
      <div>
                {{ .Summary }}
      </div>
    </li>
    {{ end }}
  </ul>
</main>

  </main>
{{ end }}
